.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


body { padding: 10px; width: 930px; margin: auto; font-family: times new roman; font-size: 16px;  background-color: rgb(255, 252, 219) }
a { color: black;  }
h2 { font-weight: bold; border-bottom: 2px solid #5a3d00; color: #5a3d00; margin-bottom: 4px; }
p { margin-bottom: 10px; }

.header { border-bottom: 4px solid #d89300; margin-bottom: 10px; }
.header .inner-header { padding-bottom: 7px; border-bottom: 4px solid #5a3d00; position: relative; }
.header .logo { position: relative; top: 9px; }
.header .subtitle { position: absolute; right: 4px; }

section.articles { width: 605px; margin-bottom: 20px; float: left; }
section.side-content { float: right; }
div.projects,div.box.tags { width: 272px; }

.admin { width: 295px; clear: right; float: right; margin-right: 4px; }
.upload { width: 295px; clear: right; float: right; margin-right: 4px; }
.uploads { width: 295px; clear: right; float: right; margin-right: 4px; }

div.box { position: relative; margin-bottom: 10px; background-color: #fff8e9; border: 1px solid #d89300; padding: 6px 7px 7px; box-shadow: -3px 3px 3px #aaa; margin-left: 6px; }

div.article { margin-bottom: 20px; width: 582px; }
div.article h2 a { text-decoration: none; }
div.article h3 { font-weight: bold; text-decoration: underline; margin-bottom: 4px; }
div.article span.publication-date { float: right; font-size: 12px; font-weight: bold; }
div.article div.body { padding: 0 4px; margin-bottom: 5px; }
div.article span.via { font-size: 12px; }
div.article .meta { border-top: 1px solid #5a3d00; font-size: 14px; position: relative; min-height: 14px; padding-top: 4px; }

p.media { text-align: center; }
p.media img { border: 1px solid #d89300; padding: 3px; height: auto; max-width: 100%; max-width: calc(100% - 11px); max-width: -webkit-calc(100% - 11px); }
p.media iframe { border: 1px solid #d89300; padding: 3px; max-width: calc(100% - 11px); max-width: -webkit-calc(100% - 11px); }
.article .tags h3:after { content:':' }
.article .tags h3 { display: inline; margin-right: 4px; }
.article .tags ul,
.article .tags li { display: inline; margin: 0; list-style: none; }
.article .tags li:after { content: ','; }
.article .tags li:last-child:after { content: ''; }
.article .edit { position: absolute; right: 0; top: 0; }
.article code { background-color: #eee8c9; padding: 2px; font-size: 12px; }
.article pre code, .article blockquote { display: block; white-space: pre; border: 1px dashed #000; background-color: #eee8c9; padding: 10px; margin: 10px; font-size: 12px; overflow: auto; }
.article blockquote { white-space: pre-wrap; font-size: 14px; }
.article ul { margin: 5px 0 5px 10px; }
.article li { list-style: disc inside; }
.article table { border: 1px dashed #000; width: 100%; background-color: #eee8c9; padding: 4px; border-spacing: 0; }
.article th { border-bottom: 1px dashed #000; }
.article tr:nth-child(even) { background: #bbb8a9; }
.article td { padding: 2px; }
.article a.readmore { font-weight: bold; font-size: 12px;}

.box.tags li { display: inline-block; font-size: 14px; margin-right: 4px; }
.box.tags li:after { content: ',' }
.box.tags li:last-child:after { content: '' }

.footer { padding-top: 4px; border-top: 4px solid #5a3d00; clear: both; font-size: 14px;  }
.footer img { vertical-align: top; margin-right: 4px; }

div.box.feed-links { font-size: 12px; }
div.box.feed-links ul { display: inline; }
div.box.feed-links li { display: inline; margin-left: 6px; }

div.ac { font-family: verdana, sans; font-size: 16px; border: 1px solid black; background-color: white; padding: 2px; display: block; cursor: text; }
div.ac input { padding: 0; }
div.ac .tag { border: 1px solid black; background-color: #ddd; padding: 0 2px; margin: 2px; display: inline-block; }
div.ac .tag:hover { background-color: #ccc; cursor: pointer; }
div.ac .tag a { text-decoration: none; margin-left: 4px; font-weight: bold; }
div.ac .list { background-color: white; border: 1px solid black; padding: 4px 0; font-family: verdana, sans; position: absolute; width: 100%; left: -1px; }
div.ac .list .current { background-color: orange; font-size: 20px; font-weight: bold; }

body.word-o-matic div.instructions { width: 272px; }
body.word-o-matic div.instructions h1 { font-size: 20px; font-weight: bold; border-bottom: 2px solid #5a3d00; color: #5a3d00; margin-bottom: 4px; }
body.word-o-matic div.results { font-size: 28px; height: auto; margin-bottom: 100px; }
body.word-o-matic div.results span.none { color: #888; font-style: italic; }
body.word-o-matic div.previous-words h2 { display: inline; font-size: 16px; color: #000; }
body.word-o-matic div.previous-words ul { display: inline; font-size: 16px; color: #000; }
body.word-o-matic div.previous-words li { display: inline; font-size: 16px; margin-right: 8px; }
body.word-o-matic div.previous-words li:after { content: ','; }
body.word-o-matic div.previous-words li:last-child:after { content: ''; }
body.word-o-matic form { max-width: 100%; }
body.word-o-matic textarea { width: 576px; height: 200px; display: block; max-width: 100%; }
body.word-o-matic button, body.word-o-matic input.submit { font-size: 20px; font-weight: bold; margin-top: 10px; }
body.word-o-matic button.generate { float: right; }
body.word-o-matic div.presets li { display: inline-block; margin-right: 10px; }

@media all and (min-width: 960px) { 
  body { background: url(/theme/images/bg.png); }
}
@media all and (max-width: 959px) { 
  body { width: auto; }
  a.logo img { width: 100%; height: auto; max-width: 550px; }
  section.articles { width: auto; float: none; }
  section.side-content { float: none; }
  div.box.projects,div.box.tags { width: auto; }
  div.box.projects li { display: inline-block; width: auto; margin-right: 20px; }
  body.word-o-matic div.box.instructions { width: auto; }
  div.article { width: auto; max-width: 100%; overflow: auto; }
}
@media all and (max-width: 865px) { 
  div.header img.subtitle { display: none; }
}
