{% extends "base.html" %}
{% from 'base.html' import box %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}
{% block head %}
<meta property="og:url" content="{{ SITEURL }}/{{article.url}}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ article.title }}" />
{#<meta property="og:description" content="" />
<meta property="og:image" content="" />#}
{% endblock %}
{% block content %}
<section class="articles">
    {% call box('article') %}
    <span class="publication-date">{{ article.locale_date }}</span>
    <h2>
        <a href="{{ SITEURL }}/{{article.url}}" title="{{article.title}}">{{article.title}}</a>
    </h2>
    <div class="body">
        {{article.content }}
  {%- if article.via_name -%}
  <span class="via">via
    {% if article.via_url %}<a href="{{ article.via_url }}">{% endif -%}
    {{- article.via_name -}}
    {%- if article.via_url %}</a>{% endif -%}
  </span>
  {%- endif -%}
    </div>
    <div class="meta">
        {% if article.tags %}
        <div class="tags">
            <h3>tags</h3>
            <ul>
                {% for tag in article.tags %}
                <li><a href="/{{ tag.url }}" title="{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'othm'; // required: replace example with your forum shortname

        // The following are highly recommended additional parameters. Remove the slashes in front to use.
        var disqus_identifier = 'article_{{ article.slug }}';
        var disqus_url = 'http://ohthehugemanatee.net/{{ article.url }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endcall %}

</section><!-- /#content -->
<section class="side-content">
  {% include 'projects.html' %}
  {% include 'tags.html' %}
  {% include 'feed-links.html' %}
</section>

{% endblock content %}
