{% set static_url = '/theme/' %}

{% macro box(classes) %}
<div class="box {{ classes }}">{{ caller() }}</div>
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        {% assets filters="cssmin", output="css/m.%(version)s.css", "css/undohtml.css", "css/main.css" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
        <link rel="shortcut icon" href="/favicon.ico" /> 
        <meta name="google-site-verification" content="FybNnk5RBcNO3FS5VuEBDYo_cgZOZeJ4-amoVjnPVgE" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="header">
            <h1 class="inner-header">
                <a class="logo" href="/" title="Take me home, Jeeves!">
                    <img src="{{ static_url }}images/logo.png" alt="{{ SITENAME }}" />
                </a>
                <img src="{{ static_url }}images/manatee.png" class="subtitle" alt="The manatee watches..."/>
            </h1>
        </div>
        {% block top %}{% endblock %}
        {% block content %}{% endblock %}
        {% block bottom %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9541118-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
