{% set static_url = '/theme/' %}

{% macro box(classes) %}
<div class="box {{ classes }}">{{ caller() }}</div>
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        {% assets filters="cssmin", output="css/m.%(version)s.css", "css/undohtml.css", "css/main.css" %}
	<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {# <style>{{ ASSET_CONTENTS }}</style> #}
        {% endassets %}
        <link rel="shortcut icon" href="/favicon.ico" /> 
        <meta name="google-site-verification" content="FybNnk5RBcNO3FS5VuEBDYo_cgZOZeJ4-amoVjnPVgE" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        {% block head %}{% endblock %}
        {% if FEED_ALL_ATOM %}
        <link href="http://feeds.feedburner.com/othm-atom" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {# <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" /> #}
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="http://feeds.feedburner.com/othm-rss" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {# <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" /> #}
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
    </head>
    <body>
        <div class="header">
            <h1 class="inner-header">
                <a class="logo" href="/" title="Take me home, Jeeves!">
                    <img src="{{ static_url }}images/logo.png" alt="{{ SITENAME }}" width="550" height="46" />
                </a>
                <img src="{{ static_url }}images/manatee.png" class="subtitle" alt="The manatee watches..." width="291" height="57" />
            </h1>
        </div>
        {% block top %}{% endblock %}
        {% block content %}{% endblock %}
        {% block bottom %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9541118-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
