{% from 'base.html' import box %}
{% call box('feed-links') %}
<div>
  Subscribe:
  <ul>
    {% if FEED_ALL_ATOM %}
    <li>
      <a href="http://feeds.feedburner.com/othm-atom" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">atom</a>
    </li>
    {% endif %}
    {% if FEED_ALL_RSS %}
    <li>
      <a href="http://feeds.feedburner.com/othm-rss" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">rss</a>
    </li>
    {% endif %}
  </ul>
</div>
<div>
  Social:
  <ul>
    <li>
      <a href="https://plus.google.com/111895866050265546394?rel=author">Google+</a>
    </li>
    <li>
      <a href="https://www.facebook.com/dave.mankoff">Facebook</a>
    </li>
  </ul>
</div>
{% endcall %}
