{% extends "base.html" %}
{% from 'base.html' import box %}
{% block content %}
<section class="articles">
    {% for article in articles_page.object_list %}
    {% call box('article') %}
    <span class="publication-date">{{ article.locale_date }}</span>
    <h2>
        <a href="{{ SITEURL }}/{{article.url}}" title="{{article.title}}">{{article.title}}</a>
    </h2>
    <div class="body">
        {{ article.summary }}
	{%- if article.summary != article.content -%}
	<a class="readmore" href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title }}">Continue Reading&hellip;</a>
	{%- endif -%}
  {%- if article.via_name -%}
  <span class="via">via
    {% if article.via_url %}<a href="{{ article.via_url }}">{% endif -%}
    {{- article.via_name -}}
    {%- if article.via_url %}</a>{% endif -%}
  </span>
  {%- endif -%}
    </div>
    <div class="meta">
        {% if article.tags %}
        <div class="tags">
            <h3>tags</h3>
            <ul>
                {% for tag in article.tags %}
                <li><a href="/{{ tag.url }}" title="{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    {% endcall %}
    {% endfor %}
{% include 'pagination.html' %}
</section><!-- /#content -->

<section class="side-content">
  {% include 'projects.html' %}
  {% include 'tags.html' %}
  {% include 'feed-links.html' %}
</section>
{% endblock content %}
