{% from 'base.html' import box %}
{% call box('projects') %}
<h2>Projects</h2>
<ul>
    <li><a title="EDJS" href="https://github.com/mankyd/edjs/">EDJS</a></li>        
    <li><a title="EDJS" href="https://github.com/mankyd/hookback/">Hookback</a></li>        
    <li><a title="htmlmin" href="http://pypi.python.org/pypi/htmlmin">htmlmin</a></li>
    <li><a title="mozaiq" href="http://mozaiq.org/">mozaiq</a></li>
    <li><a title="The Magical Word-o-Matic" href="/word-o-matic/">The Magical Word-o-Matic</a></li>
    <li><a title="plocal" href="http://pypi.python.org/pypi/plocal/">plocal</a></li>
</ul>
</ul>
{% endcall %}
